
.icon-cloud-sun-inv:before { content: '\e800'; } /* '' */
.icon-cloud-moon-inv:before { content: '\e801'; } /* '' */
.icon-cloud-inv:before { content: '\e802'; } /* '' */
.icon-snow-alt:before { content: '\e803'; } /* '' */
.icon-snow-heavy:before { content: '\e804'; } /* '' */
.icon-hail:before { content: '\e805'; } /* '' */
.icon-down-open:before { content: '\e806'; } /* '' */
.icon-up-open:before { content: '\e807'; } /* '' */
